.app.dark {
    --bg-color: #1a1a1a;
    --inverted-bg-color: #ececec;

    --primary-color: #00dbff;
    --inverted-primary-color: #004ea6;

    --secondary-color: #0059ff;
    --inverted-secondary-color: #002169;
}
